body {
    background-color: bisque;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    padding: 1em;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-style: normal;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bolder;
    
}
hr {
    padding: 2em;
}